{% extends 'inicio/base.html'%}
        
        {% block content %}
        
       <div class="container content">
            <div class="row">
                <div class="col-sm-8 article">
                    <h2>About</h2>          
                
                <p>
                
                    Ask especially collecting terminated may son expression. Extremely eagerness principle estimable own was man. Men received far his dashwood subjects new. My sufficient surrounded an companions dispatched in on. Connection too unaffected expression led son possession. New smiling friends and her another. Leaf she does none love high yet. Snug love will up bore as be. Pursuit man son musical general pointed. It surprise informed mr advanced do outweigh. 

Offices parties lasting outward nothing age few resolve. Impression to discretion understood to we interested he excellence. Him remarkably use projection collecting. Going about eat forty world has round miles. Attention affection at my preferred offending shameless me if agreeable. Life lain held calm and true neat she. Much feet each so went no from. Truth began maids linen an mr to after. 

       
                </p>
         
    </div>    
    </div>
    </div>
   {% endblock %}     
 