{% extends 'inicio/base.html'%}
{%block title%}Archives..::{%endblock%}
{%block css%}{{block.super}}
    <link rel="stylesheet" href="{{STATIC_URL}}css/archive.css">
    {%endblock%}

        
     {% block content%}   
       <div class="container content">
            <div class="row">
                
      
                
                
                <div class="col-sm-12">
                <h2>Month1</h2>
                <hr>
                

 <div class="col-sm-3 list-art">
                    <h4 class="truncate">
    <a href="/articles/1445/what-are-converged-apps/" title="What are converged apps?">What are converged apps?</a><br>
    <small>
        <span class="timeago" title="2014-08-07T09:02:42.609000-07:00">Aug. 7, 2014, 9:02 a.m.</span>
        by
        <a href="/accounts/3/roland-taylor/" title="Roland Taylor">
            Roland Taylor
        </a>
    </small>
</h4>
<p>
    Converge: (of several people or things) come together from different directions so as eventually to meet. Source: Google. With the arrival of Ubuntu Touch and the Ubuntu SDK, there has been a lot of talk about so-called "Converged Apps". But just what are they? One App - Many Faces A "Converged App" is simply an application that can run on ...
</p>
<p>
    <a href="/articles/1506/psa-5mn-gmail-account-passwords-apparently-leaked/" class="btn btn-primary">Read More</a>
        </p>
</div>

 <div class="col-sm-3 list-art">
                    <h4 class="truncate">
    <a href="/articles/1445/what-are-converged-apps/" title="What are converged apps?">What are converged apps?</a><br>
    <small>
        <span class="timeago" title="2014-08-07T09:02:42.609000-07:00">Aug. 7, 2014, 9:02 a.m.</span>
        by
        <a href="/accounts/3/roland-taylor/" title="Roland Taylor">
            Roland Taylor
        </a>
    </small>
</h4>
<p>
    Converge: (of several people or things) come together from different directions so as eventually to meet. Source: Google. With the arrival of Ubuntu Touch and the Ubuntu SDK, there has been a lot of talk about so-called "Converged Apps". But just what are they? One App - Many Faces A "Converged App" is simply an application that can run on ...
</p>
<p>
  <a href="/articles/1506/psa-5mn-gmail-account-passwords-apparently-leaked/" class="btn btn-primary">Read More</a>
        </p>
</div>
                    
 <div class="col-sm-3 list-art">
                    <h4 class="truncate">
    <a href="/articles/1445/what-are-converged-apps/" title="What are converged apps?">What are converged apps?</a><br>
    <small>
        <span class="timeago" title="2014-08-07T09:02:42.609000-07:00">Aug. 7, 2014, 9:02 a.m.</span>
        by
        <a href="/accounts/3/roland-taylor/" title="Roland Taylor">
            Roland Taylor
        </a>
    </small>
</h4>
<p>
    Converge: (of several people or things) come together from different directions so as eventually to meet. Source: Google. With the arrival of Ubuntu Touch and the Ubuntu SDK, there has been a lot of talk about so-called "Converged Apps". But just what are they? One App - Many Faces A "Converged App" is simply an application that can run on ...
</p>
<p>
    <a href="/articles/1506/psa-5mn-gmail-account-passwords-apparently-leaked/" class="btn btn-primary">Read</a>
        </p>
</div>
<br>

                    

          <div class="col-sm-12">
                <h2>Month2</h2>
                <hr>
                <div class="col-sm-3 list-art" >
                    <h4 class="truncate">
    <a href="/articles/1445/what-are-converged-apps/" title="What are converged apps?">What are converged apps?</a><br>
    <small>
        <span class="timeago" title="2014-08-07T09:02:42.609000-07:00">Aug. 7, 2014, 9:02 a.m.</span>
        by
        <a href="/accounts/3/roland-taylor/" title="Roland Taylor">
            Roland Taylor
        </a>
    </small>
</h4>
<p>
    Converge: (of several people or things) come together from different directions so as eventually to meet. Source: Google. With the arrival of Ubuntu Touch and the Ubuntu SDK, there has been a lot of talk about so-called "Converged Apps". But just what are they? One App - Many Faces A "Converged App" is simply an application that can run on ...
</p>
<p>
    <a href="/articles/1506/psa-5mn-gmail-account-passwords-apparently-leaked/" class="btn btn-primary">Read </a>
        </p>
</div>

 <div class="col-sm-3 list-art">
                    <h4 class="truncate">
    <a href="/articles/1445/what-are-converged-apps/" title="What are converged apps?">What are converged apps?</a><br>
    <small>
        <span class="timeago" title="2014-08-07T09:02:42.609000-07:00">Aug. 7, 2014, 9:02 a.m.</span>
        by
        <a href="/accounts/3/roland-taylor/" title="Roland Taylor">
            Roland Taylor
        </a>
    </small>
</h4>
<p>
    Converge: (of several people or things) come together from different directions so as eventually to meet. Source: Google. With the arrival of Ubuntu Touch and the Ubuntu SDK, there has been a lot of talk about so-called "Converged Apps". But just what are they? One App - Many Faces A "Converged App" is simply an application that can run on ...
</p>
<p>
   <a href="/articles/1506/psa-5mn-gmail-account-passwords-apparently-leaked/" class="btn btn-primary">Read </a>
        </p>
</div>

 <div class="col-sm-3 list-art">
                    <h4 class="truncate">
    <a href="/articles/1445/what-are-converged-apps/" title="What are converged apps?">What are converged apps?</a><br>
    <small>
        <span class="timeago" title="2014-08-07T09:02:42.609000-07:00">Aug. 7, 2014, 9:02 a.m.</span>
        by
        <a href="/accounts/3/roland-taylor/" title="Roland Taylor">
            Roland Taylor
        </a>
    </small>
</h4>
<p>
    Converge: (of several people or things) come together from different directions so as eventually to meet. Source: Google. With the arrival of Ubuntu Touch and the Ubuntu SDK, there has been a lot of talk about so-called "Converged Apps". But just what are they? One App - Many Faces A "Converged App" is simply an application that can run on ...
</p>
<p>
   <a href="/articles/1506/psa-5mn-gmail-account-passwords-apparently-leaked/" class="btn btn-primary">Read </a>
        </p>
</div>
                    
 <div class="col-sm-3 list-art" >
                    <h4 class="truncate">
    <a href="/articles/1445/what-are-converged-apps/" title="What are converged apps?">What are converged apps?</a><br>
    <small>
        <span class="timeago" title="2014-08-07T09:02:42.609000-07:00">Aug. 7, 2014, 9:02 a.m.</span>
        by
        <a href="/accounts/3/roland-taylor/" title="Roland Taylor">
            Roland Taylor
        </a>
    </small>
</h4>
<p>
    Converge: (of several people or things) come together from different directions so as eventually to meet. Source: Google. With the arrival of Ubuntu Touch and the Ubuntu SDK, there has been a lot of talk about so-called "Converged Apps". But just what are they? One App - Many Faces A "Converged App" is simply an application that can run on ...
</p>
     <p>
            <a href="/articles/1506/psa-5mn-gmail-account-passwords-apparently-leaked/" class="btn btn-primary">Read ...</a>
        </p>
</div>
                    
 <div class="col-sm-3 list-art">
                    <h4 class="truncate">
    <a href="/articles/1445/what-are-converged-apps/" title="What are converged apps?">What are converged apps?</a><br>
    <small>
        <span class="timeago" title="2014-08-07T09:02:42.609000-07:00">Aug. 7, 2014, 9:02 a.m.</span>
        by
        <a href="/accounts/3/roland-taylor/" title="Roland Taylor">
            Roland Taylor
        </a>
    </small>
</h4>
<p>
    Converge: (of several people or things) come together from different directions so as eventually to meet. Source: Google. With the arrival of Ubuntu Touch and the Ubuntu SDK, there has been a lot of talk about so-called "Converged Apps". But just what are they? One App - Many Faces A "Converged App" is simply an application that can run on ...
</p>
     <p>
            <a href="/articles/1506/psa-5mn-gmail-account-passwords-apparently-leaked/" class="btn btn-primary">Read ...</a>
        </p>
</div>
            
        </div>
        <br>
        <hr>
        </div>
    </div>
    </div>
    
    {% endblock%}    
        
 