{% extends "inicio/base.html"%}

{% block content%}
    
      <div class="container content">
            <div class="row">
                <div class="col-sm-12">
                <div class="col-sm-8"> <!-- debut Article nouveau -->
                    <div class="jumbotron">
        <h1 class="truncate">
            PSA: 5mn gmail account passwords apparently leaked <br>
            <small>
                by Amith KK
            </small>
        </h1>
        <p>5 million Gmail passwords have been reported to be leaked onto a Russian BitCoin forum. Here's a website to see if you're compromised : isleaked.com The website might be experiencing problems since many people are using it. And also many ...</p>
        <p>
            <a href="/articles/1506/psa-5mn-gmail-account-passwords-apparently-leaked/" class="btn btn-primary">Read More</a>
        </p>
    
    </div> 
                    
    <div class="jumbotron">
        <h1 class="truncate">
            PSA: 5mn gmail account passwords apparently leaked <br>
            <small>
                by Amith KK
            </small>
        </h1>
        <p>5 million Gmail passwords have been reported to be leaked onto a Russian BitCoin forum. Here's a website to see if you're compromised : isleaked.com The website might be experiencing problems since many people are using it. And also many ...</p>
        <p>
            <a href="/articles/1506/psa-5mn-gmail-account-passwords-apparently-leaked/" class="btn btn-primary">Read More</a>
        </p>
    
    </div>
                    <!-- fim Article nouveau -->
                    
                    
                    
           
                    
                    
                    
        
                      
        </div>   
                      
                     <br><br>
     <!--       <div class="col-sm-4">    
            <div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Categories</h3>
    </div>
    <div class="list-group">
        
            <a href="/categories/3/announcements/" class="list-group-item">
                <span class="badge">393</span>
                <span class="fa fa-folder-open"></span>
                Announcements
            </a>
        
            <a href="/categories/6/editorial/" class="list-group-item">
                <span class="badge">163</span>
                <span class="fa fa-folder-open"></span>
                Editorial
            </a>
        
            <a href="/categories/9/interviews/" class="list-group-item">
                <span class="badge">2</span>
                <span class="fa fa-folder-open"></span>
                Interviews
            </a>
        
            <a href="/categories/4/reviews/" class="list-group-item">
                <span class="badge">52</span>
                <span class="fa fa-folder-open"></span>
                Reviews
            </a>
        
            <a href="/categories/8/tips/" class="list-group-item">
                <span class="badge">78</span>
                <span class="fa fa-folder-open"></span>
                Tips
            </a>
        
            <a href="/categories/7/tutorials/" class="list-group-item">
                <span class="badge">22</span>
                <span class="fa fa-folder-open"></span>
                Tutorials
            </a>
        
            <a href="/categories/2/tutorials-programming/" class="list-group-item">
                <span class="badge">22</span>
                <span class="fa fa-folder-open"></span>
                Tutorials :: Programming
            </a>
        
            <a href="/categories/5/tutorials-terminal/" class="list-group-item">
                <span class="badge">20</span>
                <span class="fa fa-folder-open"></span>
                Tutorials :: Terminal
            </a>
        
    </div>
</div>
</div> -->
                
                <div class="col-sm-4">
                    <div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a href="https://twitter.com/2buntunews" class="pull-right" title="Follow on Twitter"><i class="fa fa-twitter"></i></a>
            Latest News
        </h3>
    </div>
    <div class="list-group">
        
            <a href="https://lists.ubuntu.com/archives/ubuntu-announce/2014-September/000190.html" class="list-group-item">
                <span class="badge">Sep 25</span>
                <h4 class="list-group-item-heading">Final Beta of Utopic Unicorn Released.</h4>
                <p class="list-group-item-text">
                    The last of the 14.10 beta releases has just been made available for download.
                </p>
            </a>
        
            <a href="https://wiki.documentfoundation.org/ReleaseNotes/4.4#OpenGL_Transitions" class="list-group-item">
                <span class="badge">Aug 29</span>
                <h4 class="list-group-item-heading">LibreOffice 4.4 will bring 3D Transitions to Windows.</h4>
                <p class="list-group-item-text">
                    Thanks to VCL&#39;s new OpenGL framework.
                </p>
            </a>
        
            <a href="https://lists.ubuntu.com/archives/ubuntu-devel-announce/2014-August/001109.html" class="list-group-item">
                <span class="badge">Aug 28</span>
                <h4 class="list-group-item-heading">Ubuntu 14.10 (Utopic Unicorn) beta-1 released!</h4>
                <p class="list-group-item-text">
                    The first beta of the Utopic Unicorn (to become 14.10) has now been released!
                </p>
            </a>
        
           
        
        
    </div>
                        
     <hr>
    <div class="panel panel-default"> <!-- Social network -->
    <div class="panel-heading">
        <h3 class="panel-title">
            <a href="https://twitter.com/2buntunews" class="pull-right" title="Follow on Twitter"><i class="fa fa-twitter"></i></a>
            Latest News
        </h3>
    </div>
    <div class="list-group">
        
            <a href="https://lists.ubuntu.com/archives/ubuntu-announce/2014-September/000190.html" class="list-group-item">
                <span class="badge">Sep 25</span>
                <h4 class="list-group-item-heading">Final Beta of Utopic Unicorn Released.</h4>
                <p class="list-group-item-text">
                    The last of the 14.10 beta releases has just been made available for download.
                </p>
            </a>
        
            <a href="https://wiki.documentfoundation.org/ReleaseNotes/4.4#OpenGL_Transitions" class="list-group-item">
                <span class="badge">Aug 29</span>
                <h4 class="list-group-item-heading">LibreOffice 4.4 will bring 3D Transitions to Windows.</h4>
                <p class="list-group-item-text">
                    Thanks to VCL&#39;s new OpenGL framework.
                </p>
            </a>           
    </div>                
                        

</div>

              
                
          
        </div>
           
    </div>
    </div>
    <hr>            
           <div class="col-sm-12">
                <hr>  
                <h2>Recent Articles</h2> <!-- debut Article recent-->
                <p>
                    Looking for more great content? There's more where that came from!
                    Here are some other articles that have recently been published.If you've been following 2buntu for any length of time, you've probably noticed that our servers rarely go down. Our system
                </p>
               <hr>
               
                
<h4 class="truncate">
    <a href="/articles/1445/what-are-converged-apps/" title="What are converged apps?">What are converged apps?</a><br>
    <small>
        <span class="timeago" title="2014-08-07T09:02:42.609000-07:00">Aug. 7, 2014, 9:02 a.m.</span>
        by
        <a href="/accounts/3/roland-taylor/" title="Roland Taylor">
            Roland Taylor
        </a>
    </small>
</h4>
<p>
    Converge: (of several people or things) come together from different directions so as eventually to meet. Source: Google. With the arrival of Ubuntu Touch and the Ubuntu SDK, there has been a lot of talk about so-called "Converged Apps". But just what are they? One App - Many Faces A "Converged App" is simply an application that can run on ...
</p>


    <hr>
    

<h4 class="truncate">
    <a href="/articles/1500/creating-a-custom-maintenance-page-for-nginx/" title="Creating a Custom Maintenance Page for Nginx">Creating a Custom Maintenance Page for Nginx</a><br>
    <small>
        <span class="timeago" title="2014-08-06T21:42:29.028000-07:00">Aug. 6, 2014, 9:42 p.m.</span>
        by
        <a href="/accounts/6/nathan-osman/" title="Nathan Osman">
            Nathan Osman
        </a>
    </small>
</h4>
<p>
    If you've been following 2buntu for any length of time, you've probably noticed that our servers rarely go down. Our system administrators do an excellent job of staying on top of server issues, although they are quite rare. Unfortunately, it is not always possible to avoid downtime. (At least, not with our budget or equipment.) Services need restarting, configuration files ...
</p>
<hr>
                </div>
    <hr> <!-- fim Article recent --> 
                
         <p>
            <a href="/articles/1506/psa-5mn-gmail-account-passwords-apparently-leaked/" class="btn btn-primary more-article">Read More</a>
        </p>
                
        </div>
        </div>
    
{% endblock %}